body {
	background-color: #1b5070;
}

.error {
	color: red;
}

.container {
	padding-top: 20px;
}

.well {
	background-color: white;
}

img {
	width: 100px;
	height: 20px;
}

.panel-heading h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}