body {
	background-color: #1b5070;
}

.error {
	color: red;
}

.container {
	padding-top: 20px;
}

.result-area {
	background-color: white;
}

#logo {
	width: 100px;
	height: 20px;
}

/*.panel-heading h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}*/

@media(max-width: 992px){
	.hidden_word {
		display: none;
	}

}

.glyphicon-star {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color:white;
}

.favorite {
	color: yellow;
}